@import viewmodels.InputWidth._
@import viewmodels.LabelSize

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukInput: GovukInput,
    govukButton: GovukButton
)

@(form: Form[_], taxYear: Int, individualOrAgent: String, mode: Mode)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("claimExpensesOrRRR.title"))) {

    @formHelper(action = routes.ClaimExpensesOrRRRController.onSubmit(taxYear, mode), Symbol("autoComplete") -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        @govukInput(
            InputViewModel(
                field = form("value"),
                label = LabelViewModel(messages("claimExpensesOrRRR.heading")).asPageHeading(LabelSize.Medium)
            )
            .asNumeric()
            .withWidth(Fixed10).withPrefix(PrefixOrSuffix(content = Text("£")))
        )

        @govukButton(
            ButtonViewModel(messages("site.continue")).withId("continue")
        )
    }
}
